<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>預測分析</title>
    <style>
        table {
            width: 100%;
            height: 300%;
        }

        b {
            color: black;
            font-size: 140%;
        }

        label {
            color: blueviolet;
            font-size: 170%;
            font-weight: bold;
        }

        strong {
            font-size: 140%;
            color: rgb(70, 102, 206);
        }

        header,
        section,
        footer {
            margin: 4%;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body background="images/bg.jpeg" style="text-align: center;color: aqua;">
    <header class="alert alert-secondary" role="alert" style="display: flex;">
        <span style="flex: 4;">
            <h1 style="color: black;font-weight: bold;text-align: center;font-size: 40px;">預測分析</h1>
            <b id="current_date" style="color:  rgb(247, 64, 64);"></b>
        </span>
        <script>
            $("#current_date").html(new Date());
        </script>
        <span style="flex: 1;">
            <i style="font-weight: bold;color: brown;">*關於我們*</i>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28971.101701290772!2d121.6855093!3d24.8164113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3467ef436cd5f00b%3A0xa4f8e6ea38859e1a!2z5L2b5YWJ5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1698841086643!5m2!1szh-TW!2stw"
                width="120" height="90" style="border:2px solid burlywood;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </span>
    </header>
    <main>
        <section id="row">
            <div class="row">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                    <a href="/" type="button" class="btn btn-outline-primary"
                        style="width:10%;height:100%;border:2px rgb(252, 252, 252) none;"><b>中華職棒查詢網站</b></a>
                    <a href="/introduce" type="button" class="btn btn-outline-primary"
                        style="width:10%;height:100%;border:2px rgb(252, 252, 252) none;"><b>球團介紹</b></a>
                    <a href="/winner" type="button" class="btn btn-outline-primary"
                        style="width:10%;height:100%;border:2px rgb(252, 252, 252) none;"><b>歷年戰績</b></a>
                    <a href="/sql" type="button" class="btn btn-outline-primary"
                        style="width:10%;height:100%;border:2px rgb(252, 252, 252) none;"><b>經典查詢</b></a>
                </div>
            </div>
        </section>
        <section>
            <form action="/champion" method="get">
                <br>
                <label for="QUERY">場次範圍1至120</label><input type="text" size="11" name="QUERY" id="QUERY" required>
                <br><br>
                <label for="query">球團名稱</label>
                <select name="query" id="query">
                    <option value=""></option>
                </select>
                <input type="submit" value="查詢" style="border-radius:40%;">
            </form>
        </section>
        <section>
            <p id="message" style="color: gray;font-weight: bold;">
                <%= message; %>
            </p>
        </section>
        <section>
            <table style="margin-left: auto;margin-right: auto;color: red;border: 3px solid white;">
                <tr>
                    <th>
                        <h2 style="font-weight: bold;">球團名稱</h2>
                    </th>
                </tr>
            </table>
            <table style="margin-left: auto;margin-right: auto;color: red;">
                <tr>
                    <td>
                        <h3 style="font-weight: bold;">
                            <%= query; %>
                        </h3>
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <table style="margin-left: auto;margin-right: auto;color: blue;border: 3px solid white;">
                <tr>
                    <th>
                        <h2 style="font-weight: bold;">
                            預估勝率
                        </h2>
                    </th>
                </tr>
            </table>
            <table style="margin-left: auto;margin-right: auto;color: blue;">
                <tr>
                    <td>
                        <h3 style="font-weight: bold;">
                            之後<%= QUERY; %>場的贏球機率為<%= futureWinRates; %>
                        </h3>
                    </td>
                </tr>
            </table>
        </section>
    </main>

    <script>
        var myElement = $("#message");
        myElement.css("display", "block");
        myElement.delay(2000).fadeOut();

        document.getElementById('QUERY').addEventListener('change', () => {
            var QUERY = document.getElementById('QUERY');
            var query = document.getElementById('query');
            if (QUERY.value < 1 || QUERY.value > 120) {
                alert('無法預估');
                location.reload();
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            var resultElement = document.getElementById('query');
            fetch('/championform')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('404');
                    }
                    return response.json();
                })
                .then(data => {
                    data.results.forEach(result => {
                        var optionElement = document.createElement('option');
                        optionElement.textContent = result.who;
                        optionElement.value = result.who;
                        resultElement.appendChild(optionElement);
                    });
                })
                .catch(error => {
                    console.error('發生錯誤', error);
                    var optionElement = document.createElement('option');
                    optionElement.textContent = '查詢失敗';
                    optionElement.value = '';
                    resultElement.appendChild(optionElement);
                });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>